.user-card {
  margin: 20px 0;
  background-color: rgb(255, 255, 255);
  width: 30%;
  align-self: center;
  padding: 10px;
  border-radius: 10px;
  font-family: Courier New, Courier, monospace;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 10px;
    margin-block-start: 10px;
  }

  &__name {
    font-variant-caps: all-small-caps;
    font-size: 30px;
  }

  &__age {
    font-size: 15px;
  }

  &__job {
    font-size: 15px;
  }

  &__description {
    font-size: 15px;
    margin: inherit;
  }
}