.user-card {
  background-color: rgb(242, 242, 242);
  width: 100%;
  align-self: center;
  padding: 15px;
  font-family: 'Antic Didone';
  border-bottom: 1px solid rgb(189, 201, 217);

    &:hover {
      background-color: rgb(208, 240, 253)
    }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    font-variant-caps: all-small-caps;
    font-size: 30px;
    font-weight: 100;
  }

  &__age {
    font-size: 15px;
    &--blue {
      color: rgb(134, 193, 235);
      font-style: italic;
    }
  }

  &__job {
    font-size: 15px;
    &--blue {
      color: rgb(134, 193, 235);
      font-style: italic;
    }
  }

  &__description {
    font-size: 15px;
  }

  .description {
    margin-block-start: 10px;
    margin-bottom: 5px;
  }
}