.auth-box {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 200px;
  max-width: 300px;
  min-width: 100px;
  background-color: rgb(242, 242, 242);
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  margin-right: 15px;
  justify-content: space-evenly;

  &__actions {
    display: flex;
  }

  &__message {
    display: flex;
    width: 100%;
    margin-left: 70px;
    font-size: 16px;
  }

  &__button {
    border: none;
    border-radius: 30px;
    color: rgb(255, 246, 254);
    font-weight: bold;
    font-size: 15px;
    padding: 10px 10px;
    width: 100px;

    &--red {
      background-color: rgb(96, 203, 249);
      margin-right: 5px;
    }

    &--blue {
      background-color: rgb(234, 197, 216);
      margin-left: 5px;
    }
  }
}