.auth-box {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 200px;
  max-width: 300px;
  min-width: 100px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  margin-right: 15px;
  justify-content: space-evenly; }
  .auth-box__actions {
    display: flex; }
  .auth-box__message {
    display: flex;
    width: 100%;
    margin-left: 70px;
    font-size: 16px; }
  .auth-box__button {
    border: none;
    border-radius: 30px;
    color: #fff6fe;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 10px;
    width: 100px; }
    .auth-box__button--blue {
      background-color: #60cbf9;
      margin-right: 5px; }
    .auth-box__button--pink {
      background-color: #eac5d8;
      margin-left: 5px; }
