.header {
  display: flex;
  background-color: rgb(242, 242, 242);
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 8px 0px;
  margin-bottom: 10px;

  &__title {
    width: 10%;
    align-self: center;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__statistics {
    display: flex;
    width: 40%;
    justify-content: space-around;
    &__element {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      color: rgb(47, 111, 136);

      &__value {
        font-size: 20px;
        text-align: center;
      }

      &__label {
        font-size: 11px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

  &__search {
    width: 10%;
  }
}