.login-form {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  align-items: center;

  &__button {
    border: none;
    border-radius: 30px;
    color: rgb(255, 246, 254);
    background-color: #60cbf9;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 10px;
    width: 100px;
  }

}