.search {
  width: 23%;
  align-self: center;
  display: flex; }
  .search__element {
    text-transform: uppercase;
    text-align: center;
    color: #988890;
    background-color: #e2dfe1;
    font-style: italic;
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 6px 10px;
    font-size: 12px; }
